@using Project.StoryDomain.Models
@model IList<Story>

@{
    ViewBag.Title = "Welcome Back!";
}

<h2>@ViewBag.Title</h2>
<hr />
<div class="row">
    <div class="col-xs-6 col-md-4">
        <h2>Stories</h2>
        @foreach (var story in Model)
        {
            <div class="card">
                <div>
                    <h2> @story.Title </h2>
                </div>
                <div>
                    <h6> Posted on  @(story.Date.HasValue ? story.Date.ToString() : "-")  (Type: @story.Type)</h6>
                </div>
                <div>
                    @story.Content
                </div>
                <div>
                    <button type="button" class="btn btn-primary float-left" id="edit">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                        Modify story
                    </button>
                </div>
                <div>
                    <h6> @(story.Likes != null ? story.Likes.Count : 0 ) Likes</h6>

                </div>
                <div class="card-body">
                    <div class="comments col-md-12" id="comments">
                        <h3 class="mb-2">Comments</h3>
                        <h6> @(story.Comments != null ? story.Comments.Count : 0 ) Comments</h6>
                        @foreach (var comment in story.Comments)
                        {
                            <div class="comment mb-2 row">
                                <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                                    <a href=""><img class="mx-auto rounded-circle img-fluid" src="http://demos.themes.guide/bodeo/assets/images/users/m103.jpg" alt="avatar"></a>
                                </div>
                                <div class="comment-content col-md-11 col-sm-10">
                                    <h6 class="small comment-meta"><a href="#">@comment.User.UserName</a> @*@@comment.Date*@</h6>
                                    <div class="comment-body">
                                        <p>
                                            @comment.Text
                                            <br>
                                            <a href="" class="text-right small"><i class="ion-reply"></i> Reply</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-xs-6 col-md-4"><h2>Groups</h2></div>
    <div class="col-xs-12 col-md-4"><h2>Goals</h2></div>
</div>

