@model Project.ViewModels.Admin.DashboardVM

@using Project.Core.Account

@{
    ViewBag.Title = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="true">Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="coaches-tab" data-toggle="tab" href="#coaches" role="tab" aria-controls="coaches" aria-selected="false">Coaches</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="interests-tab" data-toggle="tab" href="#interests" role="tab" aria-controls="interests" aria-selected="false">Interests</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="groups-tab" data-toggle="tab" href="#groups" role="tab" aria-controls="groups" aria-selected="false">Groups</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="hashtags-tab" data-toggle="tab" href="#hashtags" role="tab" aria-controls="hashtags" aria-selected="false">Hashtags</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="users" role="tabpanel" aria-labelledby="users-tab">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var rUser in Model.RegularUsers) {
                    <tr>
                        <th scope="row">@rUser.Id</th>
                        <td>@rUser.FirstName</td>
                        <td>@rUser.LastName</td>
                        <td>@rUser.UserName</td>
                        <td>@rUser.Email</td>
                    </tr>
                }

            </tbody>
        </table>

        @using (Ajax.BeginForm("GrantRole", "Admin", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "ValidateAjaxForm('grant-role-validation', data)" }, new { role = "form" })) {

            @Html.AntiForgeryToken();

            @Html.Hidden("RoleName", StandardRoles.Coach.ToString());
            @Html.Hidden("UserId")

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Make Coach</button>
            </div>

            <div id="grant-role-validation"></div>
        }

    </div>
    <div class="tab-pane" id="coaches" role="tabpanel" aria-labelledby="coaches-tab">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var coach in Model.Coaches) {
                    <tr>
                        <th scope="row">@coach.Id</th>
                        <td>@coach.FirstName</td>
                        <td>@coach.LastName</td>
                        <td>@coach.UserName</td>
                        <td>@coach.Email</td>
                    </tr>
                }
            </tbody>
        </table>

        @using (Ajax.BeginForm("RevokeRole", "Admin", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "ValidateAjaxForm('revoke-role-validation', data)" }, new { role = "form" })) {

            @Html.AntiForgeryToken();

            @Html.Hidden("RoleName", StandardRoles.Coach.ToString());
            @Html.Hidden("UserId")

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Revoke Coach</button>
            </div>

            <div id="revoke-role-validation"></div>
        }

    </div>
    <div class="tab-pane" id="interests" role="tabpanel" aria-labelledby="interests-tab">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var interest in Model.Interests) {
                    <tr>
                        <th scope="row">@interest.Id</th>
                        <td>@interest.Title</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="groups" role="tabpanel" aria-labelledby="groups-tab">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Member Count</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var group in Model.Groups) {
                    <tr>
                        <th scope="row">@group.Id</th>
                        <td>@group.Title</td>
                        <td>@group.Members.Count</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="hashtags" role="tabpanel" aria-labelledby="hashtags-tab">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Value</th>
                    <th scope="col">Usage</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var hashtag in Model.Hashtags) {
                    <tr>
                        <th scope="row">@hashtag.Id</th>
                        <td>@hashtag.Value</td>
                        <td>@hashtag.UsageCount</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@*<script>
        $(function () {
            $('#myTab li:last-child a').tab('show')
        })
    </script>*@

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/Scripts/Admin")
}